

/* Start:/bitrix/templates/1/components/bitrix/news.list/feedback/style.css?1563906899150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/1/components/bitrix/news.list/feedback/style.css?1563906899150 */
